/* Sur Un Baobab
 *
 * /sass/settings/_colors.scss - Global sizes variables
 *
 * coded by Mucht
 */

$navBackground: #ffa100;
$footerBackground: #324247;
$buttonBackground: #659c48;
$sectionBackground: rgba(0, 221, 255, 0.2);
$cardBackground: #FFF;
$articlesTitleBackground: rgba(255, 161, 0, 0.8);

$defaultColor: #324247;
$copyColor: #7899a1;
$footerColor: #FFF;
$buttonColor: #FFF;
$linkColor: #ffa100;
$socialMediaColor: #00ddff;
$linksHoverColor: #659c48;
$footerLinksHoverColor: #FFF;
