/* Sur Un Baobab
 *
 * /sass/settings/_sizes.scss - Global sizes variables
 *
 * coded by Mucht
 * started at 21/04/2016
 */

 $menuSpace: 100% / 30;
 $mainMargeLeft: 100% /9.5;

@function s( $goal,$parent:16 ) {
    @return( $goal / $parent * 1em );
}

$s1: 5.8;
$s2: 6.4;
$s3: 7.1;
$s4: 7.9;
$s5: 8.7;
$s6: 9.6;
$s7: 10.7;
$s8: 11.8;
$s9: 13.1;
$s10: 14.5;
$s11: 16;
$s12: 17.7;
$s13: 19.6;
$s14: 21.7;
$s15: 24;
$s16: 26.6;
$s17: 29.4;
$s18: 32.5;
$s19: 36;
$s20: 39.8;
$s21: 44.1;
$s22: 48.8;
$s23: 54;
$s24: 59.8;
$s25: 66.1;
$s26: 73.2;
