/* Sur Un Baobab
 *
 * /sass/objects/_sections.scss - Non Esthetic style for page propos
 *
 * coded by Mucht!
 */

.contacts{
    &:nth-child(2n+1){
    }
    &__title{
        width: 100%;
        margin-bottom: 30px;
    }
    &__subTitle{
        width: 100%;
    }
    &__textBloc{
        width: 100%;
        margin-bottom: 25px;
    }
    &__photos{
        width: 133px;
        margin: 13px 0 50px 29px;
    }
    &__elts{
        margin-bottom: 1em;
    }

    // form
    &__form{

    }
    textarea {
        width: 450px;
        height: 125px;
        margin-top: 0.5em;
    }
}
