/* Sun Un Baobab
 *
 * /sass/objects/_global.scss - Non Esthetic style for globals elements
 *
 * coded by Mucht!
 */

.bigWrap{
    width: 940px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.wrap{
    width: 65.638297872%;
    padding-top: 50px;
}
