/* Sun Un Baobab
 *
 * /sass/objects/_header.scss - Non Esthetic style for header
 *
 * coded by Mucht!
 */

.header{
    height: 300px;
    &__title{
    }
    &__logo{
        width: 250px;
        height: auto;
        margin: 25px 0 0 $mainMargeLeft;
    }
}
