/* Sur Un Baobab
 *
 * /sass/objects/_propos.scss - Non Esthetic style for page propos
 *
 * coded by Mucht!
 */

.propos{
    &:nth-child(2n+1){
    }
    &__title{
        width: 100%;
        margin-bottom: 30px;
    }
    &__subTitle{
        width: 100%;
        & + &{
            margin-top: 1em;
        }
    }
    &__textBloc{
        width: 100%;
        margin-bottom: 25px;
    }
    &__photos{
        width: 47.649918963%;
        height: 196px;
        &:nth-child(2n+1){
            margin: 0 29px 29px 0;
        }
    }
    &__photo{
        width: 100%;
        height: auto;
    }
}
