/* Sun Un Baobab
 *
 * /sass/objects/_sections.scss - Non Esthetic style for sections
 *
 * coded by Mucht!
 */

.sections{
    padding-top: 50px;
    &__title{
        margin-bottom: 30px;
    }
    &__textBloc{
        width: 60%;
        margin: 0 auto 50px;
    }
    &__subSections{
        width: 456px;
        margin-bottom: 50px;
        &--photo{
            width: 456px;
        }
    }
    &__subSections:nth-child(3){
        margin-left: 28px;
    }
    &--articles::before{
        height: 15px;
    }
}
