/* Sur Un Baobab
 *
 * /sass/components/_archives.scss - Esthetic style for section archives
 *
 * coded by Mucht!
 */

.archives{
    display: block;
    color: $defaultColor;
    box-shadow: 0px 0px 3px 0 rgba(0,0,0,0.2);
    &__title{
        font-family: $goodDog;
        font-size: $s21/16*1em;
        text-align: center;
    }
    &__headers{
        position: relative;
    }
    &__titles{
        padding: 25px 0;
        background-color: $articlesTitleBackground;
        font: 3em $goodDog;
        text-align: center;
        position: absolute;
        bottom: 1px;
    }
    &__text{
        text-align: left;
        line-height: 2em;
        padding: 30px;
    }
}
