/* Sur Un Baobab
 *
 * /sass/components/_sections.scss - Esthetic style for sections
 *
 * coded by Mucht!
 */

.sections{
    padding-bottom: 50px;
    text-align: center;
    &__title{
        padding-top: 25px;
        font-family: $goodDog;
        font-size: $s21/16*1em;
        text-align: center;
    }
    &__subSections{
        display: block;
        float: left;
        box-shadow: 0px 0px 3px 0 rgba(0,0,0,0.2);
        color: $defaultColor;
        background-color: $cardBackground;
        &--photo{
        }
        &--title{
            padding: 30px 30px 1em 30px;
            font-weight: bold;
            font-size: $s13/16*1em;
        }
        &--summary{
            text-align: left;
            line-height: 2em;
            padding: 0 30px 30px 30px;
        }
    }
    &__link{
        font-size: $s19/16*1em;
    }
    &--articles::before{
        content: " ";
        display: block;
        position: relative;
        top: -15px;
        height: 15px;
        background-image: url( "#{ $imgPath }headerJaggedEdge.png" );
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    &--metrages{
        background-color: $sectionBackground;
    }
    &--tutos{
        padding-bottom: 80px;
        background-image: url( #{ $imgPath }footerJaggedEdge.png );
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
