/* Sur Un Baobab
 *
 * /sass/components/_sideNav.scss - Esthetic style for secondary navigation
 *
 * coded by Mucht!
 */


.sideNav{
    padding: 15px 0 25px 28px;
    float: right;
    border-left: 2px solid $defaultColor;
    &__titles{
        font: 2em $goodDog;
        padding-bottom: 25px;
    }
    &__listElts + &__listElts{
        padding-top: 1em;
    }
    &__links{
        color: $defaultColor;
        transition: 0.1s ease-in;
        text-decoration: none;
    }
    &--sticky{
        position: fixed;
        position: sticky;
        top: 115px;
        right: 0;
        z-index: 500;
        padding-bottom: 15px;
    }
}
