/* Sur Un Baobab
 *
 * /sass/components/_mainNav.scss - Esthetic style for navigation
 *
 * coded by Mucht!
 */

.mainNav{
    background-color: $navBackground;
    &__list{
        &--dropdown{
            display: none;
        }
    }
    &__elem{
        display: inline-block;
        font-size: $s15 * 1px;
        font-family: $goodDog;
        padding-top: 1em/$s15*15;
        &--link{
            color: $defaultColor;
        }
        &--subElem{

        }
        &--active::after{
            content: " ";
            display: block;
            width: 50px;
            margin: 2px auto;
            height: 5px;
            background-image: url(#{ $imgPath }active.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        &--donation{
            float: right;
            margin-right: 100%/30;
        }
    }
}
